li {
  list-style: none;
}

.logos-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

iframe {
  width:100%;
  height:400px;
}

.foot-cont {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 0.5rem;
padding-top: 2.5rem;
}

/* REMOVE SCREEN RENDER TEXT */
.pagination .screen-reader-text {
  display: none;
}

/*REMOVE MAP PADDING*/
.rm-padd {
padding-right: 0px;
padding-left: 0px;
}

.add-padd {
margin-left: 40px;
}

/*PARALLAX*/
.parallax-window {
  min-height: 750px;
  /*width: 100%;*/
  background: transparent;
}

.parallax-portfolio {
  min-height: 750px;
  /*width: 100%;*/
  background: rgba(14, 19, 88, 0.68);
}

.parallax-about {
  min-height: 750px;
  /*width: 100%;*/
  background: rgba(2, 5, 21, 0.7);
}
.parallax-services {
    min-height: 750px;
  /*width: 100%;*/
  background: rgba(2, 5, 21, 0.7);
}
.parallax-oth-pages {
    min-height: 450px;
  /*width: 100%;*/
background: rgba(5, 19, 26, 0.81);
color: aliceblue;
}

.parallax-oth-pages .widget a {
  color: #00fecc;
   transition: all .3s ease-in-out;
}
.parallax-oth-pages .widget a:hover {
  color: red;
}

.parallax-oth-pages article a {
 color: #d5ff00;
 transition: all .3s ease-in-out;
}

.parallax-oth-pages article a:hover {
 color: red;
}

.parallax-oth-pages .widget-title {
  color: #6bf301;
}
.parallax-oth-pages h1 {
  color: red;
}


/* PAGINATION */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination .dots {
font-weight: bold;
padding: 5px;
}
.pagination .current li {
  color: black;
  background-color: chartreuse;
  font-weight: bold;
}

.pagination li {
padding: 9px 15px;
list-style: none;
border: 2px solid #0d0d0d;
margin: 1px;
border-radius: 90px;
background-color: #012d60;
color: #54ff00;
transition: all .3s ease-in-out;
}

.pagination li:hover {
background-color: #00ffc1;
color: #111214;
}

 .pagination .next, .prev {
color: #ff5a15;
padding: 5px;
padding-top: 10px;
font-weight: bold;
}
 .pagination .next, .prev:hover {
color: #ea00ff;

}

/* PORTFOLIO CONTENT */
.port-cont .marg-top {
  margin-top: 70px !important;
}
.port-cont h2 {
  color: #25ff00 !important;
}
.port-cont p {
color: aliceblue;
}

/* ABOUT CONTENT */
.about-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.about-cont .marg-top {
  margin-top: 70px !important;
}
.about-cont h2 {
  color: #25ff00 !important;
  }
.about-cont p {
color: aliceblue;
}

/* SERVICES CONTENT */
.service-cont .marg-top {
  margin-top: 70px !important;
}
.service-cont h2 {
  color: #20ff00 !important;
  }
.service-cont p {
color: aliceblue;
}
